# Cartelle delle dipendenze (non servono online)
node_modules/
server/node_modules/
client/node_modules/

# File di log e di sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# File delle variabili d'ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env
client/.env

# Build di produzione
client/dist/
client/build/

# Mac OS
.DS_Store

# Test e coverage
coverage/