.pageContainer {
  padding: 40px;
  color: white;
  max-width: 1200px;
  margin: 0 auto;
}
.title {
  font-size: 2rem;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  margin-bottom: 50px;
}

/* --- Media Queries per il Mobile --- */
@media (max-width: 768px) {
  .pageContainer {
    padding: 20px;
  }

  .gridContainer {
    /* Permette alle card di diventare più piccole prima di andare a capo */
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
  }
}

.mainTitle {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
  color: var(--primary-color);
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.toggleButtons button {
  background-color: #333;
  color: white;
  border: 1px solid var(--primary-color);
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggleButtons button:hover {
  background-color: #555;
}

.toggleButtons button.active {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.genreSelect {
  background-color: #333;
  color: white;
  border: 1px solid var(--primary-color);
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 1rem;
}

.divider {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    var(--primary-color),
    rgba(255, 255, 255, 0)
  );
  margin: 60px 0;
}
