.pageContainer {
  padding: 40px;
  color: white;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.title {
  font-size: 3rem;
  color: var(--primary-color);
  margin: 0;
}

.description {
  font-size: 1.2rem;
  font-style: italic;
  color: #ccc;
  margin-top: 10px;
}

.author {
  font-size: 1rem;
  color: #aaa;
}

.moviesGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
  padding: 1rem 0;
}

.statusText {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

@media (max-width: 768px) {
  .moviesGrid {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8rem;
  }
}